# HashiCorp Vault dev mode configuration
# Copy this file to .env and adjust as needed.
# DO NOT commit .env to Git.

VAULT_DEV_ROOT_TOKEN_ID=root
VAULT_ADDR=http://127.0.0.1:8200
VAULT_NETWORK=k3-homelab
